.sd{

    margin-top: 10px; ;
    height: 500px;
    margin-left: 500px;
}

.sd1{

    height: 500px;
}

.ds2{


    margin-left: 100px;
}

.ds3{

    margin-left: 900PX;

}

.ig2{

    width: 300px;
}
.for{

    width: 1000px;
}