.logo{
    width: 150px;
    padding: 10px 10px;
}
.gab{
    padding: 10px 0px;
    width: 300px;
    margin-left: -20%;
    
    
}
h4{
    margin-left: -20%;  
}

h5{

    margin-left: 100% ;
    margin-top:-100px ;

}

.gob{

    padding: 90px px;
    width: 300px;
    margin-left: 95%; 
    margin-top: -450px;
}
.nav-link{

        font-size: 30px;
       
}
